*{
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-color:bisque;
    font-family: 'Nunito', sans-serif;;
}

#container{
     align-items: center;
     align-content: center;
     display: flex;
     height: 100vh;
     justify-content: center;
     flex-direction: column;
}

#start-game-button{
    margin-top: 50px;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    cursor: crosshair;
}

#start-game-button:hover{
    font-size: 33px;
}

#title-container{

    margin-top: 10px;
    margin-bottom: 20px;
    align-items: stretch;
    justify-content: center;
}

.turn-Counter{
    display: none;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
}

#title{
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#stats{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

#stats:hover{
    color: gray;
    cursor: crosshair;
}

#info{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

#info:hover{
    color: gray;
    cursor: crosshair;
}

#reset{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

#reset:hover{
    color: gray;
    cursor: crosshair;
}

  
#board {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
  
.box {
    border: 3px solid rgb(160, 160, 167);
    min-width: 75px;
    min-height: 75px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#keyboard{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
}

.key{
    min-width: 40px;
    min-height: 58px;
    border-radius: 4px;
    margin: 4px;
    padding: 5px;
    border: none;
    font-weight: bold;
    background-color: #D3D6DA;
}


#keyRow{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
}

#BACK{
    position: relative;
    top: 7px;
    padding-left: 20px;
    padding-right: 20px;}